In [ ]:
import pandas as pd
from datetime import datetime, date
# import csv

In [ ]:
df = pd.read_excel('/content/messy.xlsx')

In [ ]:
df

,CUst ID,JOIN% DATE,Unnamed: 2,mobiles,FLL NAM
0,1,2019-08-07 00:00:00,NaN,84333605993,mIChAel mIcHALek
1,2,2018-09-10 00:00:00,NaN,973444062,Andrew Jimenez
2,3,20190630,NaN,338262954,Ann Gow
3,4,2019-09-06 00:00:1567702800,NaN,84966068026,James Chen
4,5,20170812,NaN,84767065885,Dollie Martinez
...,...,...,...,...,...
95,96,20190816,NaN,84334555439,Ron Grollimund
96,97,2017-08-22 00:00:1503334800,NaN,84972812359,Daniel Bentley
97,98,2018-02-17 00:00:1518800400,NaN,84865784802,Eugene Brown
98,99,20190612,NaN,841221343238,elMER milLER
99,100,20190822,NaN,1264626143,Frances Holland

In [ ]:

df = pd.read_excel('/content/messy.xlsx')

# 1. Clean the names of columns
df.columns = df.columns.str.strip().str.lower().str.replace('%', '').str.replace(' ', '_')

# 2. Remove any empty columns
df = df.dropna(axis=1, how='all')

print(df.head())

   cust_id                    join_date      mobiles           fll_nam
0        1          2019-08-07 00:00:00  84333605993  mIChAel mIcHALek
1        2          2018-09-10 00:00:00    973444062    Andrew Jimenez
2        3                     20190630    338262954           Ann Gow
3        4  2019-09-06 00:00:1567702800  84966068026        James Chen
4        5                     20170812  84767065885   Dollie Martinez

In [ ]:
# 3. Change the date column to the same format â€˜YYYY-MM-DDâ€™.
df['join_date'] = pd.to_datetime(df['join_date'], errors='coerce') # Chuyá»ƒn Ä‘á»•i lá»—i thÃ nh NaN

# Chuyá»ƒn Ä‘á»•i Unix timestamp thÃ nh datetime
df['join_date'] = df['join_date'].fillna(pd.to_datetime(df['join_date'], unit='s'))

df['join_date'] = df['join_date'].dt.strftime('%Y-%m-%d')

print(df.head())

   cust_id   join_date      mobiles           fll_nam
0        1  2019-08-07  84333605993  mIChAel mIcHALek
1        2  2018-09-10    973444062    Andrew Jimenez
2        3  1970-01-01    338262954           Ann Gow
3        4         NaN  84966068026        James Chen
4        5  1970-01-01  84767065885   Dollie Martinez

In [ ]:
# 4. Change the name column to title case
df['fll_nam'] = df['fll_nam'].str.title()

print(df.head())

   cust_id   join_date      mobiles           fll_nam
0        1  2019-08-07  84333605993  Michael Michalek
1        2  2018-09-10    973444062    Andrew Jimenez
2        3  1970-01-01    338262954           Ann Gow
3        4         NaN  84966068026        James Chen
4        5  1970-01-01  84767065885   Dollie Martinez

In [ ]:
# 5. Create the 'email' column
df['email'] = df['fll_nam'].str.split(' ').str[1] + '.' + df['fll_nam'].str.split(' ').str[0] + '.' + df['cust_id'].astype(str) + '@yourcompany.com'

print(df.head())

   cust_id   join_date      mobiles           fll_nam  \
0        1  2019-08-07  84333605993  Michael Michalek
1        2  2018-09-10    973444062    Andrew Jimenez
2        3  1970-01-01    338262954           Ann Gow
3        4         NaN  84966068026        James Chen
4        5  1970-01-01  84767065885   Dollie Martinez

                                email
0  Michalek.Michael.1@yourcompany.com
1    Jimenez.Andrew.2@yourcompany.com
2           Gow.Ann.3@yourcompany.com
3        Chen.James.4@yourcompany.com
4   Martinez.Dollie.5@yourcompany.com

In [ ]:
# 6. Change phone number format
df['mobiles'] = '84' + df['mobiles'].astype(str).str.strip().str[-9:]

In [ ]:
df

,cust_id,join_date,mobiles,fll_nam,email
0,1,2019-08-07,84333605993,Michael Michalek,Michalek.Michael.1@yourcompany.com
1,2,2018-09-10,84973444062,Andrew Jimenez,Jimenez.Andrew.2@yourcompany.com
2,3,1970-01-01,84338262954,Ann Gow,Gow.Ann.3@yourcompany.com
3,4,NaN,84966068026,James Chen,Chen.James.4@yourcompany.com
4,5,1970-01-01,84767065885,Dollie Martinez,Martinez.Dollie.5@yourcompany.com
...,...,...,...,...,...
95,96,1970-01-01,84334555439,Ron Grollimund,Grollimund.Ron.96@yourcompany.com
96,97,NaN,84972812359,Daniel Bentley,Bentley.Daniel.97@yourcompany.com
97,98,NaN,84865784802,Eugene Brown,Brown.Eugene.98@yourcompany.com
98,99,1970-01-01,84221343238,Elmer Miller,Miller.Elmer.99@yourcompany.com
99,100,1970-01-01,84264626143,Frances Holland,Holland.Frances.100@yourcompany.com

In [ ]:
# 6. Remove duplicated IDs, keeping the earliest join date
df = df.sort_values(by=['cust_id', 'join_date'])
df = df.drop_duplicates(subset='cust_id', keep='first')

print(df.head())

   cust_id   join_date      mobiles           fll_nam  \
0        1  2019-08-07  84333605993  Michael Michalek
1        2  2018-09-10  84973444062    Andrew Jimenez
2        3  1970-01-01  84338262954           Ann Gow
3        4         NaN  84966068026        James Chen
4        5  1970-01-01  84767065885   Dollie Martinez

                                email
0  Michalek.Michael.1@yourcompany.com
1    Jimenez.Andrew.2@yourcompany.com
2           Gow.Ann.3@yourcompany.com
3        Chen.James.4@yourcompany.com
4   Martinez.Dollie.5@yourcompany.com

In [ ]:
# 7. Filter and export to CSV
report_date = date.today().strftime('%Y%m%d')
df_filtered = df[pd.to_datetime(df['join_date']) >= '2019-01-01']
df_filtered.to_csv(f'emp_{report_date}.csv', sep='|', index=False)