### <div style="color:white; background-color:#666; padding: 8px; border-radius: 5px">**Setup Environment & Run Packages**</div>

In every project, before everything, we should import all needed libraries. It makes sense that if we need more libraries during the project, we add here.

In [ ]:
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import datetime
from datetime import date

### <div style="color:white; background-color:#666; padding: 8px; border-radius: 5px">**Load Data**</div>

First of all, we import the raw datasets

In [ ]:
customers = pd.read_csv('customers.csv')
properties = pd.read_csv('properties.csv')

In [ ]:
customers

,Unnamed: 0,CustomerID,entity,name,surname,birth_date,sex,country,state,purpose,deal_satisfaction,mortgage,source
0,154,C0001,Company,Kamd,Co,NaN,NaN,USA,California,Investment,5,No,Agency
1,101,C0002,Individual,Jack,Anderson,2/13/1947,M,USA,California,Investment,5,Yes,Website
2,93,C0003,Individual,Avah,Huang,4/23/1948,F,USA,California,Personal Use,5,No,Website
3,77,C0004,Individual,Nora,Lynch,4/23/1948,F,USA,California,Personal Use,5,No,Website
4,24,C0005,Individual,Rodolfo,Gibson,1/20/1937,M,USA,Nevada,Personal Use,2,Yes,Website
...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,157,C0170,Individual,Emmy,Singh,12/3/1979,F,USA,Virginia,Investment,3,Yes,Agency
158,30,C0171,Individual,Skylar,Buchanan,12/25/1977,M,USA,Nevada,Personal Use,4,Yes,Website
159,56,C0172,Individual,Henry,Kennedy,6/8/1933,M,USA,California,Personal Use,4,Yes,Agency
160,4,C0174,Company,Marleez,Co,NaN,NaN,USA,California,Investment,5,No,Website
161,119,C0175,Individual,Madeline,Michael,7/30/1953,F,USA,California,Personal Use,4,Yes,Website

Then we should merge two datasets into one.

In [ ]:
df = pd.merge(customers, properties, on='CustomerID', how='left')

In [ ]:
df

,Unnamed: 0_x,CustomerID,entity,name,surname,birth_date,sex,country,state,purpose,...,source,Unnamed: 0_y,homeid,building,date_sale,type,property#,area,price,status
0,154,C0001,Company,Kamd,Co,NaN,NaN,USA,California,Investment,...,Agency,179,1005,1,3/1/2004,Office,5,410.71,"$117,564.07",Sold
1,101,C0002,Individual,Jack,Anderson,2/13/1947,M,USA,California,Investment,...,Website,137,1002,1,3/1/2004,Office,2,1238.58,"$410,932.67",Sold
2,93,C0003,Individual,Avah,Huang,4/23/1948,F,USA,California,Personal Use,...,Website,132,1044,1,6/1/2004,Apartment,44,827.87,"$229,464.71",Sold
3,77,C0004,Individual,Nora,Lynch,4/23/1948,F,USA,California,Personal Use,...,Website,133,1043,1,6/1/2004,Apartment,43,1160.36,"$377,313.56",Sold
4,24,C0005,Individual,Rodolfo,Gibson,1/20/1937,M,USA,Nevada,Personal Use,...,Website,164,1033,1,8/1/2004,Apartment,33,1434.09,"$412,856.56",Sold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,4,C0174,Company,Marleez,Co,NaN,NaN,USA,California,Investment,...,Website,192,1028,1,7/1/2005,Apartment,28,1160.36,"$331,154.88",Sold
190,4,C0174,Company,Marleez,Co,NaN,NaN,USA,California,Investment,...,Website,193,1034,1,7/1/2005,Apartment,34,625.80,"$204,434.68",Sold
191,4,C0174,Company,Marleez,Co,NaN,NaN,USA,California,Investment,...,Website,194,1037,1,7/1/2005,Apartment,37,756.21,"$189,194.31",Sold
192,4,C0174,Company,Marleez,Co,NaN,NaN,USA,California,Investment,...,Website,195,1042,1,7/1/2005,Apartment,42,625.80,"$204,027.09",Sold
193,119,C0175,Individual,Madeline,Michael,7/30/1953,F,USA,California,Personal Use,...,Website,125,4029,4,11/1/2007,Apartment,29,794.52,"$200,148.89",Sold

### <div style="color:white; background-color:#666; padding: 8px; border-radius: 5px">**Variable Names**</div>

Column names provide a clear identification of the data contained within each column. By reviewing the column names, we can quickly understand the type of information stored in each column. This helps we make sense of the data and interpret it correctly.

In [ ]:
df.columns

Index(['Unnamed: 0_x', 'CustomerID', 'entity', 'name', 'surname', 'birth_date',
       'sex', 'country', 'state', 'purpose', 'deal_satisfaction', 'mortgage',
       'source', 'Unnamed: 0_y', 'homeid', 'building', 'date_sale', 'type',
       'property#', 'area', 'price', 'status'],
      dtype='object')

We don't need some columns and we remove them.

In [ ]:
df = df.drop(['Unnamed: 0_x', 'entity', 'name', 'surname', 'state', 'Unnamed: 0_y', 'building','property#', 'status'] , axis=1)

In [ ]:
col_names = {
    'CustomerID':'CustomerID',
    'birth_date' : 'DoB',
    'sex' : 'Gender',
    'country' : 'Country',
    'purpose' : 'Purpose',
    'deal_satisfaction' : 'Satisfaction',
    'mortgage' : 'Mortgage',
    'source' : 'Source',
    'homeid' : 'PropertyID',
    'date_sale' : 'Date',
    'type' : 'Type',
    'area' : 'Area',
    'price' : 'Price',
}

df = df.rename(columns = col_names)

Now, we change the order of the columns to have better view on them.

In [ ]:
col_order = ['CustomerID', 'DoB', 'Gender', 'Country', 'Purpose', 'Mortgage', 'Source', 'PropertyID', 'Type',
            'Area','Price','Satisfaction', 'Date']

df = df[col_order]

In [ ]:
df.head(1)

,CustomerID,DoB,Gender,Country,Purpose,Mortgage,Source,PropertyID,Type,Area,Price,Satisfaction,Date
0,C0001,NaN,NaN,USA,Investment,No,Agency,1005,Office,410.71,"$117,564.07",5,3/1/2004

### <div style="color:white; background-color:#666; padding: 8px; border-radius: 5px">**Data Type Conversion**</div>

Checking the data types is an important step in data cleaning because it helps ensure the consistency, accuracy, and reliability of the data.

In [ ]:
df.dtypes

CustomerID       object
DoB              object
Gender           object
Country          object
Purpose          object
Mortgage         object
Source           object
PropertyID        int64
Type             object
Area            float64
Price            object
Satisfaction      int64
Date             object
dtype: object

We must check whether the data type of variables is correct or not.
* `CustomerID`: String *(Object)*
* `DoB`: Date *(Object)*
* `Gender`: Nominal Categorical *(Object)*
* `Country`: Nominal Categorical *(Object)*
* `Purpose`: Nominal Categorical *(Object)*
* `Mortgage`: Nominal Categorical *(Object)*
* `Source`: Nominal Categorical *(Object)*
* `PropertyID`: String *(Object)*
* `Type`: Nominal Categorical *(Object)*
* `Area`: Number *(float64-int64)*
* `Date`: Date *(Object)*
* `Price`: Number *(float64-int64)*
* `Satisfaction`: Ordinal Categorical *(Object)*

Based on the above, we have to change data type:
 <li>`PropertyID` from <span style="color:white; background-color:red">int64</span> to <span style="color:white; background-color:blue">object</span>
 <li>`Price` from <span style="color:white; background-color:red">object</span> to <span style="color:white; background-color:blue">int64</span>
 <li>`Satisfaction` from <span style="color:white; background-color:red">int64</span> to <span style="color:white; background-color:blue">object</span>
  <li>`DoB` & `Date` from <span style="color:white; background-color:red">object</span> to <span style="color:white; background-color:blue">date</span>

In [ ]:
df['PropertyID'].unique()

array([1005, 1002, 1044, 1043, 1033, 1038, 1018, 1021, 1036, 1045, 1035,
       1009, 1015, 1049, 1032, 1017, 1041, 1025, 1026, 1012, 1023, 1003,
       1006, 1027, 1011, 1029, 1030, 1007, 1008, 2023, 2030, 1016, 1040,
       1031, 1039, 1024, 2054, 2041, 2032, 3027, 1046, 2007, 2039, 2057,
       2037, 2005, 2050, 2026, 2015, 2033, 3015, 2029, 3007, 3030, 2020,
       2040, 2038, 2042, 4035, 4022, 3050, 2010, 2036, 2049, 2003, 2004,
       2006, 2044, 2022, 2011, 2047, 2014, 3001, 3043, 2025, 2018, 2009,
       2017, 2013, 3047, 2046, 2016, 2008, 2019, 2021, 2027, 2052, 3006,
       3044, 4025, 3031, 2048, 2028, 2043, 3049, 3034, 5033, 5035, 5039,
       2056, 2012, 3016, 3020, 3029, 5030, 3038, 3039, 3022, 3054, 3055,
       4031, 2035, 3008, 3040, 3025, 5016, 5019, 3059, 2034, 3021, 4051,
       3014, 2002, 3028, 3042, 3002, 3004, 3032, 3013, 3010, 3018, 2001,
       3046, 2051, 3019, 3011, 3026, 3005, 3033, 5013, 3012, 3048, 2024,
       4034, 3036, 4019, 5034, 4041, 4024, 4010, 4011, 4016, 5041, 5050,
       3003, 4005, 5027, 5028, 5021, 5022, 5025, 5046, 3009, 4012, 4006,
       4030, 4018, 5036, 3035, 5040, 4028, 4040, 1047, 2031, 3017, 3037,
       3053, 3041, 3023, 4049, 4013, 4023, 5051, 3052, 1013, 1014, 1019,
       1020, 1022, 1028, 1034, 1037, 1042, 4029])

In [ ]:
df['PropertyID'] = df['PropertyID'].astype('object')
print(df['PropertyID'].dtype)

object

In [ ]:
df['Satisfaction'].unique()

array([5, 2, 3, 4, 1])

In [ ]:
df['Satisfaction'] = df['Satisfaction'].astype('object')
print(df['Satisfaction'].dtype)

object

In [ ]:
df['Price'].unique()

array(['$117,564.07 ', '$410,932.67 ', '$229,464.71 ', '$377,313.56 ',
       '$412,856.56 ', '$207,581.43 ', '$191,389.87 ', '$218,585.92 ',
       '$317,473.86 ', '$248,525.12 ', '$238,811.06 ', '$317,196.40 ',
       '$208,930.81 ', '$467,083.31 ', '$215,410.28 ', '$432,679.91 ',
       '$480,545.81 ', '$382,041.13 ', '$179,674.08 ', '$300,385.62 ',
       '$261,579.89 ', '$193,660.62 ', '$198,841.70 ', '$276,759.18 ',
       '$222,947.21 ', '$246,331.90 ', '$246,172.68 ', '$250,312.53 ',
       '$246,050.40 ', '$219,373.41 ', '$214,341.34 ', '$224,076.84 ',
       '$234,172.39 ', '$265,467.68 ', '$196,220.05 ', '$235,762.34 ',
       '$306,363.64 ', '$225,050.52 ', '$306,878.46 ', '$245,572.79 ',
       '$503,790.23 ', '$196,142.19 ', '$293,876.27 ', '$382,277.15 ',
       '$229,581.78 ', '$257,183.48 ', '$297,008.97 ', '$198,075.99 ',
       '$228,170.03 ', '$205,085.40 ', '$207,281.59 ', '$310,223.29 ',
       '$231,552.33 ', '$215,774.28 ', '$241,671.52 ', '$224,463.87 ',
       '$529,317.28 ', '$220,606.28 ', '$217,786.38 ', '$263,790.81 ',
       '$248,274.31 ', '$326,885.34 ', '$460,001.26 ', '$323,915.81 ',
       '$289,727.99 ', '$168,834.04 ', '$396,973.83 ', '$250,773.15 ',
       '$344,568.74 ', '$225,401.62 ', '$214,631.68 ', '$336,695.25 ',
       '$171,262.65 ', '$299,159.14 ', '$315,733.15 ', '$275,394.25 ',
       '$237,060.15 ', '$199,054.20 ', '$236,639.56 ', '$188,273.73 ',
       '$253,831.02 ', '$212,265.67 ', '$204,286.67 ', '$177,555.06 ',
       '$217,748.48 ', '$247,739.44 ', '$484,458.03 ', '$356,506.37 ',
       '$197,869.36 ', '$236,608.95 ', '$407,214.29 ', '$220,865.00 ',
       '$195,153.16 ', '$355,073.40 ', '$338,181.18 ', '$256,821.64 ',
       '$240,539.35 ', '$261,742.74 ', '$195,874.94 ', '$237,207.68 ',
       '$226,342.80 ', '$258,572.48 ', '$310,831.21 ', '$357,538.20 ',
       '$464,549.19 ', '$312,211.14 ', '$354,553.23 ', '$200,719.02 ',
       '$380,809.52 ', '$200,678.75 ', '$192,092.24 ', '$219,865.76 ',
       '$204,292.49 ', '$296,483.14 ', '$278,575.87 ', '$153,466.71 ',
       '$367,976.46 ', '$252,927.84 ', '$225,290.22 ', '$496,266.41 ',
       '$346,906.89 ', '$209,280.91 ', '$206,631.81 ', '$213,942.56 ',
       '$261,871.70 ', '$210,038.70 ', '$242,740.66 ', '$253,025.78 ',
       '$294,807.65 ', '$293,828.69 ', '$169,158.29 ', '$252,185.99 ',
       '$376,964.62 ', '$230,154.53 ', '$203,491.85 ', '$212,520.83 ',
       '$258,015.61 ', '$200,300.63 ', '$188,743.11 ', '$210,824.06 ',
       '$249,075.66 ', '$456,919.46 ', '$243,052.59 ', '$358,525.59 ',
       '$226,578.51 ', '$252,053.03 ', '$402,081.80 ', '$372,001.70 ',
       '$223,917.34 ', '$201,518.89 ', '$244,820.67 ', '$263,123.42 ',
       '$390,494.27 ', '$233,142.80 ', '$344,530.89 ', '$269,075.30 ',
       '$223,577.32 ', '$234,750.59 ', '$287,466.41 ', '$165,430.28 ',
       '$230,216.22 ', '$222,867.42 ', '$290,031.26 ', '$222,138.72 ',
       '$310,577.04 ', '$310,832.59 ', '$286,433.57 ', '$269,278.57 ',
       '$228,410.05 ', '$248,422.66 ', '$241,620.48 ', '$448,134.27 ',
       '$452,667.01 ', '$205,098.21 ', '$204,808.16 ', '$190,119.50 ',
       '$239,248.75 ', '$198,591.85 ', '$388,515.14 ', '$197,053.51 ',
       '$235,633.26 ', '$249,591.99 ', '$291,494.36 ', '$206,958.71 ',
       '$206,445.42 ', '$239,341.58 ', '$398,903.42 ', '$210,745.17 ',
       '$331,154.88 ', '$204,434.68 ', '$189,194.31 ', '$204,027.09 ',
       '$200,148.89 '], dtype=object)

In [ ]:
df['Price'] = pd.to_numeric(df['Price'].str.replace('[\$,]' , '', regex=True), errors='coerce')

In [ ]:
df['Price'].dtype

dtype('float64')

In [ ]:
df['DoB'] = df['DoB'].astype('datetime64[ns]')
df['Date'] = df['Date'].astype('datetime64[ns]')

### <div style="color:white; background-color:#666; padding: 8px; border-radius: 5px">**Handle Missing Values**</div>

Checking for missing values is an important step in data cleaning because missing values can have a significant impact on the quality and reliability of the data analysis. In this dataset, we must handle missing values, because we want to construct ML model and having null values in ML model would cause to have inaccurate prediction. First, we create a function to see how many missing valus we have.

In [ ]:
def null(df):
    null_values = pd.DataFrame(df.isnull().sum())
    null_values[1] = null_values[0]/len(df)
    null_values.columns=['count','%pct']
    filtered_null = null_values[null_values['%pct']>0]
    return filtered_null

In [ ]:
df.isnull().sum()

CustomerID       0
DoB             16
Gender          16
Country          0
Purpose          0
Mortgage         0
Source           0
PropertyID       0
Type             0
Area             0
Price            0
Satisfaction     0
Date             0
dtype: int64

In [ ]:
null(df)

        count      %pct
DoB        16  0.082474
Gender     16  0.082474

To deal with null missing values, based on the data type and the percentage of null values, we can take different measures.

* **Strategy (1)**: The percentage is less than 5% : Remove missing values
* **Strategy (2)**: The percentage is between 5% and 10% and type is categorical : Impute with mode
* **Strategy (3)**: The percentage is more than 10% : Impute with KNN or ask expert

In [ ]:
df = df.dropna(subset=['DoB','Gender'])

### <div style="color:white; background-color:#666; padding: 8px; border-radius: 5px">**Feature Engineering**</div>

We should convert date values to date format.

In [ ]:
df['DoB'] = pd.to_datetime(df['DoB'], format='%m/%d/%Y')
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y')

In [ ]:
df['DoB']

1     1947-02-13
2     1948-04-23
3     1948-04-23
4     1937-01-20
5     1956-06-17
         ...
180   1970-07-31
181   1979-12-03
182   1977-12-25
183   1933-06-08
193   1953-07-30
Name: DoB, Length: 178, dtype: datetime64[ns]

Now we can cacluate age instead of having date of birth.

In [ ]:
df['Age']=2023-df['DoB'].dt.year
df=df.drop(['DoB'],axis=1)

col_order = ['CustomerID', 'Age', 'Gender', 'Country', 'Purpose', 'Mortgage', 'Source', 'PropertyID', 'Type',
            'Area','Price','Satisfaction', 'Date']

df = df[col_order]

Then, we just extract year and month name for `Date` column.

In [ ]:
df['Year']=df['Date'].dt.year
df['Month']=df['Date'].dt.month_name()
df=df.drop(['Date'],axis=1)

### <div style="color:white; background-color:#666; padding: 8px; border-radius: 5px">**Handle Duplicants**</div>

Duplicate rows can compromise the integrity of the dataset. If we have multiple identical rows, it can lead to inaccurate statistical analysis, misleading results, and duplicate entries in downstream processes. By identifying and removing duplicate rows, we ensure that the data accurately represents the underlying information.

In [ ]:
df.duplicated().sum()

0

Also, we can see whether we have a customer that have the same property twice or not, regardless the other factors, because other factors might change.

In [ ]:
df[df.duplicated(subset=['CustomerID', 'PropertyID'])]

Empty DataFrame
Columns: [CustomerID, Age, Gender, Country, Purpose, Mortgage, Source, PropertyID, Type, Area, Price, Satisfaction, Year, Month]
Index: []

### <div style="color:white; background-color:#666; padding: 8px; border-radius: 5px">**Number Sanity Check**</div>

Saity check is an important step in data cleaning because it helps identify and handle data values that fall outside the expected or valid range for a particular variable. In addition, we can check how many percentage of values are negative.

In [ ]:
df[['Age', 'Area', 'Price']].max()
df[['Age', 'Area', 'Price']].min()

Age          37.00
Area        579.75
Price    153466.71
dtype: float64

In [ ]:
num_var = ['Age', 'Area', 'Price']

for i in range(len(num_var)):
    print('{}, min: {}, max: {}'.format(num_var[i] ,df[num_var[i]].min() ,df[num_var[i]].max()))

Age, min: 37, max: 92
Area, min: 579.75, max: 1942.5
Price, min: 153466.71, max: 503790.23

### <div style="color:white; background-color:#666; padding: 8px; border-radius: 5px">**Categorical Possible Range**</div>

By checking the possible range for categorical variables, we can identify any unexpected or erroneous values. This helps ensure the data's integrity and validity. It allows us to misspellings, or other inconsistencies in the categorical variable values.

In [ ]:
def cat_checker(Var):
    unique_value=pd.Series(df[Var].unique()).sort_values().values
    return unique_value

In [ ]:
pd.Series(df['Gender'].unique()).sort_values().values

array(['F', 'M'], dtype=object)

In [ ]:
df['Gender'].unique()

array(['M', 'F'], dtype=object)

In [ ]:
df.sample(1)

,CustomerID,Age,Gender,Country,Purpose,Mortgage,Source,PropertyID,Type,Area,Price,Satisfaction,Year,Month
147,C0135,56,M,USA,Personal Use,No,Agency,4041,Apartment,1305.62,402081.8,5,2007,October

In [ ]:
cat_checker('Gender')

array(['F', 'M'], dtype=object)

In [ ]:
cat_checker('Purpose')

array(['Investment', 'Personal Use'], dtype=object)

In [ ]:
cat_checker('Mortgage')

array(['No', 'Yes'], dtype=object)

In [ ]:
cat_checker('Source')

array(['Agency', 'Client', 'Website'], dtype=object)

In [ ]:
cat_checker('Type')

array(['Apartment', 'Office'], dtype=object)

In [ ]:
cat_checker('Satisfaction')

array([1, 2, 3, 4, 5], dtype=object)

### <div style="color:white; background-color:#666; padding: 8px; border-radius: 5px">**Data Analysis**</div>

In this part, we want to do some statistical analysis on data breakdown on country. The questions that we are trying to answer are the following:

**Age Distribution of Customers**

In [ ]:
def age_dist(country):
    country_df = df[df['Country'] == country]
    age_range = pd.cut(
        country_df['Age'],
        bins = [0, 30, 50, 70, 100],
        labels = ['0-30' , '31-50', '51-70' , '71-100']
    )
    return age_range.value_counts()

In [ ]:
age_dist('USA')

Age
51-70     81
71-100    40
31-50     36
0-30       0
Name: count, dtype: int64

**Average Price**

In [ ]:
def avg_price(country):
    country_df = df[df['Country'] == country]
    return country_df['Price'].mean()

unq_country = df['Country'].unique()

for country in unq_country:
    average_price = avg_price(country)
    print(f"Average price in {country}: {average_price}")

Average price in USA: 271020.37464968156
Average price in Belgium: 229075.47
Average price in Russia: 278828.83499999996
Average price in USA : 316315.58666666667
Average price in Denmark: 257183.48
Average price in Canada: 274069.38428571424
Average price in Mexico: 338181.18
Average price in UK: 220142.68
Average price in Germany: 205098.21

In [ ]:
for i in df['Country'].unique():
    print(df[df['Country'] == i]['Price'].mean())

271020.37464968156
229075.47
278828.83499999996
316315.58666666667
257183.48
274069.38428571424
338181.18
220142.68
205098.21

**Distribution of Sales across Months and Years**

In [ ]:
def sales_dist(country):
    country_df = df[df['Country'] == country]
    return country_df.groupby(['Year', 'Month']).size()

In [ ]:
df[df['Country'] == 'USA'].groupby(['Year', 'Month']).size()

Year  Month
2004  August        2
      June          2
      March         1
      November      2
      October       5
2005  August        2
      December      2
      February      1
      June          2
      March         4
      November      1
      October       1
2006  April         1
      August        5
      December      2
      February      1
      July          1
      June          4
      March         4
      May           1
      November      4
      October       5
      September     6
2007  April         7
      August        8
      December      8
      February      4
      January       4
      July          5
      June          7
      March        10
      May           6
      November     16
      October       7
      September     6
2008  December      3
      January       3
      May           3
2010  May           1
dtype: int64

**Percentage of Sales from each source**

In [ ]:
def ads_effect(country):
    country_df = df[df['Country'] == country]
    return country_df['Source'].value_counts(normalize=True)*100

In [ ]:
ads_effect('USA')

Source
Website    58.598726
Agency     30.573248
Client     10.828025
Name: proportion, dtype: float64

**Correlation Analysis among age, price and area**

In [ ]:
def cor_age_price_area(country):
    country_df = df[df['Country'] == country]

    return country_df[['Age','Price', 'Area']].corr()